:root {
  --light-cyan: #cee3e9;
  --neon-green: rgb(82, 255, 168);
  --grayish-blue: #4e5d73;
  --dark-grayish-blue: #323a49;
  --dark-blue: #1f2632;
  --manrope: 'Manrope', sans-serif;
}

.card {
  height: 350px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2.5rem;
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.card .advice-number {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 800;
  color: var(--neon-green);
}

.card .advice-text {
  font-size: 28px;
  font-weight: 800;
  color: var(--light-cyan);
  margin-top: -60px;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background-color: var(--neon-green);
  position: absolute;
  bottom: -30px;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.dice:hover {
  box-shadow: 1px 1px 30px rgba(82, 255, 168, 0.7);
}

.dice:active {
  box-shadow: 1px 1px 15px rgba(82, 255, 168, 0.7);
}

@media screen and (max-width: 500px) {
  .card {
    width: 300px;
    height: 200px;
  }

  .card .advice-number {
    font-size: 12px;
    font-weight: 500;
  }

  .card .advice-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
  }

  .card .divider {
    width: 250px;
  }

  .dice {
    padding: 0.5rem;
    bottom: -20px;
  }
}
